<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

<font size=6>Foundations of Biomedical Computing</font>

<font size=5>Worksheet #5 - Operating on Missing Data in Pandas</font>

The focus of this assignment will be dealing with missing data using Pandas. Often times in the real world we will be presented with missing data due to various causes, and being able to deal with this is an extremely important skill to hold.

___

In [1]:
import numpy as np
import pandas as pd

___

Before you start cleaning a data set, it’s a good idea to just get a general feel for the data. After that, you can put together a plan to clean the data.
<br>
I like to start by asking the following questions:
- What are the features?
- What are the expected types (int, float, string, boolean)?
- Is there obvious missing data (values that Pandas can detect)?
- Are there other types of missing data that are not so obvious (can’t easily detect with Pandas)?
[//]: # (Hello)

A good way to get a quick feel for the data is to take a look at the first few rows. The `df.head()` command is an excellent way to do this.  Run the following code block to load a data file and examine its structure.

___

Here is a real dataset of diabetes data from the Pima Indians indigenous to Arizona and Mexico. This dataset has 9 variables (8 input and 1 output) and is a fairly standard binary classification problem. It is often used for teaching. The variables are as follows: (number refers to column)

0. Number of times pregnant.
1. Plasma glucose concentration a 2 hours in an oral glucose tolerance test.
2. Diastolic blood pressure (mm Hg).
3. Triceps skinfold thickness (mm).
4. 2-Hour serum insulin (mu U/ml).
5. Body mass index (weight in kg/(height in m)^2).
6. Diabetes pedigree function.
7. Age (years).
8. Class variable (0 or 1).

In [19]:
diabetes_data = pd.read_csv('pima-indians-diabetes.csv', header=None)
new_column_names = {
    0: 'Number of times pregnant',
    1: 'Plasma glucose concentration',
    2: 'Diastolic blood pressure (mm Hg)',
    3: 'Triceps skinfold thickness (mm)',
    4: '2-Hour serum insulin (mu U/ml)',
    5: 'Body mass index',
    6: 'Diabetes pedigree function',
    7: 'Age (years)',
    8: 'Class variable (0 or 1)'
}
diabetes_data = diabetes_data.rename(columns=new_column_names)

1\. Give a summary of the data:
- Print the first couple of rows
- How many total data points are in the dataset? (Hint: df.shape)
- What do you notice about the data?

In [21]:

print(diabetes_data.describe())
print(diabetes_data.shape)
product = 768 * 9
print(product)
diabetes_data.head()
# there are 6,912 data points in this dataframe
# all of the data are intergers except couloumns 5 and 6

       Number of times pregnant  Plasma glucose concentration  \
count                768.000000                    768.000000
mean                   3.845052                    120.894531
std                    3.369578                     31.972618
min                    0.000000                      0.000000
25%                    1.000000                     99.000000
50%                    3.000000                    117.000000
75%                    6.000000                    140.250000
max                   17.000000                    199.000000

       Diastolic blood pressure (mm Hg)  Triceps skinfold thickness (mm)  \
count                        768.000000                       768.000000
mean                          69.105469                        20.536458
std                           19.355807                        15.952218
min                            0.000000                         0.000000
25%                           62.000000                         0.000000
50%                           72.000000                        23.000000
75%                           80.000000                        32.000000
max                          122.000000                        99.000000

       2-Hour serum insulin (mu U/ml)  Body mass index  \
count                      768.000000       768.000000
mean                        79.799479        31.992578
std                        115.244002         7.884160
min                          0.000000         0.000000
25%                          0.000000        27.300000
50%                         30.500000        32.000000
75%                        127.250000        36.600000
max                        846.000000        67.100000

       Diabetes pedigree function  Age (years)  Class variable (0 or 1)
count                  768.000000   768.000000               768.000000
mean                     0.471876    33.240885                 0.348958
std                      0.331329    11.760232                 0.476951
min                      0.078000    21.000000                 0.000000
25%                      0.243750    24.000000                 0.000000
50%                      0.372500    29.000000                 0.000000
75%                      0.626250    41.000000                 1.000000
max                      2.420000    81.000000                 1.000000
(768, 9)
6912

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

We can clearly tell that having a recorded of value of 0 for any of the variables (except columns 0 & 8) is definitely wrong.
<br>
<br>
2\. Knowing this, find the number of missing (ie equal to 0) data points in columns 1, 2, 3, 4, 5, 6, 7

In [25]:
columns_of_interest =['Plasma glucose concentration','Diastolic blood pressure (mm Hg)','Triceps skinfold thickness (mm)','2-Hour serum insulin (mu U/ml)','Body mass index','Diabetes pedigree function','Age (years)']
zeros_sum = diabetes_data[columns_of_interest].eq(0).sum()
print(zeros_sum)

Plasma glucose concentration          5
Diastolic blood pressure (mm Hg)     35
Triceps skinfold thickness (mm)     227
2-Hour serum insulin (mu U/ml)      374
Body mass index                      11
Diabetes pedigree function            0
Age (years)                           0
dtype: int64

Using the information gained from from the previous question, we know that columns 1, 2, 5, 6, 7, are all relatively good. However, we see that columns 3 and 4 show a lot more missing data accounting for nearly half of the rows.
<br>
<br>
3\. Now knowing this, replace the zero values in columns 1, 2, 3, 4, 5, 6, 7 with `NaN`

In [27]:
diabetes_data[columns_of_interest] = diabetes_data[columns_of_interest].replace(0, np.nan)
diabetes_data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

As most algorithms don't do well with missing data, the simplest strategy is to remove records that contain a missing value.
<br>
<br>
8\. Using the methods detailed above, drop all records with missing data

In [28]:
new_diabetes_data = diabetes_data.dropna()
new_diabetes_data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1

___

Often times simply removing data points with missing entries is not something we can afford to do. However in many cases we can use what we already know about the data to impute the missing data using some statistical tricks.
<br>
<br>

We cannot afford to loose around 50% of our diabetes data due to missing values. Thus how about we try to fill in the missing data?
<br>
<br>
10\. Fill in the following data for the diabetes data set:
- Fill in variable 3 (Triceps skinfold thickness (mm)) with the mean
- Fill in variable 4 (2-Hour serum insulin (mu U/ml)) with the median

In [31]:
mean_triceps_skinfold_thickness = diabetes_data['Triceps skinfold thickness (mm)'].mean()
median_serum_insulin = diabetes_data['2-Hour serum insulin (mu U/ml)'].median()
diabetes_data['Triceps skinfold thickness (mm)'].fillna(mean_triceps_skinfold_thickness, inplace=True)
diabetes_data['2-Hour serum insulin (mu U/ml)'].fillna(median_serum_insulin, inplace=True)
print(diabetes_data['Triceps skinfold thickness (mm)'].mean())
print(diabetes_data['2-Hour serum insulin (mu U/ml)'].median())
diabetes_data.head()

29.15341959334565
125.0

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skinfold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148.0,72.0,35.00000,125.0,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,125.0,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,125.0,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.0,43.1,2.288,33,1

___

11\. If you have any additional questions, comments, or concerns, please state them below and we will do our best to address them